<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="1"
	verbose="10" data-provider-thread-count="1">

	<listeners>
		<listener class-name="org.automation.listeners.Listener" />
		<!-- Below is custom annotation listener -->
		<!-- <listener class-name="org.automation.listeners.AnnotationTransformer"/> -->
	</listeners>

	<test name="chrome">
		<parameter name="Browser" value="Chrome" />
		<classes>
			<class name="org.automation.tests.AmazonPageTests" />
		</classes>
	</test>
</suite>
